/* SPDX-License-Identifier: GPL-3.0-or-later */
/*
 * Copyright 2025 Jiamu Sun <barroit@linux.com>
 */

@utility darkbase {
	color: var(--color-xneu-200);
	background-color: var(--color-xneu-950);
}

@media (prefers-color-scheme: dark)
{

a {
	color: #99c3ff;
}

a:visited {
	color: #c58af9;
}

*:focus-visible {
	outline-color: #99c3ff;
}

}
