/* SPDX-License-Identifier: GPL-3.0-or-later */
/*
 * Copyright 2025 Jiamu Sun <barroit@linux.com>
 */

@utility darkbase {
	color: #e8e8e8;
	background-color: #1f1f1f;
}

@media (prefers-color-scheme: dark)
{

a {
	color: #99c3ff;
}

a:visited {
	color: #c58af9;
}

button.default {
	background-color: #1a1a1a;
}

button.default:hover {
	background-color: #3e3e3e;
}

*:focus-visible {
	outline-color: #99c3ff;
}

}
