/* SPDX-License-Identifier: GPL-3.0-or-later */
/*
 * Copyright 2025 Jiamu Sun <barroit@linux.com>
 */

@media (prefers-color-scheme: dark)
{

a {
	color: #99c3ff;
}

a:visited {
	color: #c58af9;
}

*:focus-visible {
	outline-color: #99c3ff;
}

} /* prefers-color-scheme: dark */
