/* SPDX-License-Identifier: GPL-3.0-or-later */
/*
 * Copyright 2025 Jiamu Sun <barroit@linux.com>
 */

@utility lightbase {
	color: var(--color-xneu-950);
	background-color: #ffffff;
}

@media (prefers-color-scheme: light)
{

a {
	color: #000099;
}

a:visited {
	color: #681da8;
}

*:focus-visible {
	outline-color: #2054cc;
}

}

