/* SPDX-License-Identifier: GPL-3.0-or-later */
/*
 * Copyright 2025 Jiamu Sun <barroit@linux.com>
 */

@utility lightbase {
	color: #1f1f1f;
	background-color: #ffffff
}

@media (prefers-color-scheme: light)
{

a {
	color: #000099;
}

a:visited {
	color: #681da8;
}

button.default {
	background-color: #f5f5f5;
}

button.default:hover {
	background-color: #d4d9e5;
}

*:focus-visible {
	outline-color: #2054cc;
}

}

