/* SPDX-License-Identifier: MIT */
/*
 * Copyright 2025 Jiamu Sun <barroit@linux.com>
 */

@media (prefers-color-scheme: light)
{

a {
	color: #000099;
}

a:visited {
	color: #681da8;
}

*:focus-visible {
	outline-color: #2054cc;
}

} /* prefers-color-scheme: light */
