/* SPDX-License-Identifier: GPL-3.0-or-later */
/*
 * Copyright 2025 Jiamu Sun <barroit@linux.com>
 */

@font-face {
	font-family: 'JetBrains Mono';
	src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('./fonts/JetBrainsMono-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('./fonts/JetBrainsMono-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('./fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'x14y20pxScoreDozer';
	src: url('./fonts/x14y20pxScoreDozer.ttf') format('truetype');
}

@font-face {
	font-family: 'x16y32pxGridGazer';
	src: url('./fonts/x16y32pxGridGazer.ttf') format('truetype');
}
