/* SPDX-License-Identifier: GPL-3.0-or-later */
/*
 * Copyright 2025 Jiamu Sun <barroit@linux.com>
 */

@import 'tailwindcss';

@import './font.css';

@import './shell.css';

@import './theme/dark.css';

@import './theme/light.css';

@utility tab-* {
	tab-size: --value(integer);
}

@custom-variant light {
	@media (prefers-color-scheme: light) {
		@slot;
	}
}

html {
	tab-size: 8;
	color-scheme: light dark;
}

body {
	min-block-size: 100svh;
}

a {
	@variant hover {
		text-decoration: underline;
	}

	@variant group-hover/shell {
		text-decoration: underline;
	}
}

a, button {
	outline: solid transparent;
	cursor: pointer;

	@apply duration-200;
}
