/* SPDX-License-Identifier: GPL-3.0-or-later */
/*
 * Copyright 2025 Jiamu Sun <barroit@linux.com>
 */

.shell > * {
	padding: 0 0.8rem;
}

.shell::after,
.shell::before {
	color: var(--shell-color);
	position: absolute;

	@apply transition-all;
}

.shell::before {
	content: attr(data-left);
	left: 0.1rem;
}

.shell::after {
	content: attr(data-right);
	right: 0.1rem;
}

.shell:hover::after {
	@apply translate-x-2
}

.shell:hover::before {
	@apply -translate-x-2
}
